<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
       <mat-icon>eco</mat-icon> {{ tuin.naam }}
      </mat-panel-title>
      <mat-panel-description>
        <p style="text-align: right;"> added on {{ tuin.dateAdded | date: 'longDate' }} </p>
      </mat-panel-description>
      <button (click)="deleteTuin()">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-expansion-panel-header>
    <div *ngFor= "let plant of tuin.planten">
      <app-plant [plant]="plant"></app-plant>
    </div>
  </mat-expansion-panel>
</mat-accordion>



