<mat-card>
    <mat-card-header>
        <mat-card-title>Info over de tuin</mat-card-title>
    </mat-card-header>
    <br>
        <mat-card-content>
            <img mat-card-image src="{{omgeving.fotos[0].url}}" alt="Meest recente foto van de tuin">            
            <mat-tab-group mat-align-tabs="center">
                <mat-tab label="Temperatuur">{{omgeving.temperaturen[0].waarde}} °C</mat-tab>
                <mat-tab label="Luchtdruk">{{omgeving.luchtdrukken[0].waarde}} hPa</mat-tab>
            </mat-tab-group>     
        </mat-card-content>
 </mat-card> 

