<mat-card>
  <mat-card-content>
    <form [formGroup]="tuin" (ngSubmit)='onSubmit()'>
      <mat-form-field>
        <input
          matInput
          aria-label="naam"
          placeholder="Tuin naam"
          type="text"
          formControlName="naam"
          required
          data-cy="tuinNaamInput"
        />
        <mat-error
          *ngIf="tuin.get('naam')['errors'] && tuin.get('naam').touched"
        >
          {{ getErrorMessage(tuin.get('naam')['errors']) }}
        </mat-error>
      </mat-form-field>
      <div 
      formArrayName="planten"
      *ngFor="
      let item of tuin.get('planten')['controls']; 
      let i = index">
        <div [formGroupName]="i">
          <mat-form-field>
            <input 
            matInput 
            type="text" 
            aria-label="naam"
            placeholder="Plant naam" 
            formControlName="naam"
            data-cy="plantNaamInput"
            />
          </mat-form-field>

           <!--datepicker -->
          <mat-form-field >
            <input
            matInput 
            [matDatepicker]="picker"
            aria-label="datumGeplant"
            placeholder="Datum geplant" 
            formControlName="datumGeplant"
            >
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          
          
          <!-- date as text field-->
          <!-- vb datetimestring: 2020-02-07T18:25:43.511Z-->
          <mat-form-field>
            <input 
            matInput 
            placeholder="Dagen tot oogst" 
            aria-label="datumGeplant"
            type="number" 
            formControlName="dagenTotOogst"
            data-cy="plantDagenTotOogstInput"
            />
          </mat-form-field>
        </div>
        <mat-error *ngIf="item.errors && item.get('naam').touched">
          {{ getErrorMessage(item.errors)}}
        </mat-error>
      </div>
      <button type='submit' mat-raised-button [disabled]="!tuin.valid" data-cy="AddTuinButton" >
        add tuin
      </button>
    </form>
  </mat-card-content>
</mat-card>
<mat-card class="error" *ngIf="errorMessage" data-cy="appError">
  got an error while adding the tuin: {{ errorMessage }}
</mat-card>
<mat-card
  class="confirmation"
  *ngIf="confirmationMessage"
  data-cy="appConfirmation"
>
  {{ confirmationMessage }}
</mat-card>